@model DetroitHills.Models.Tour
@{
    ViewBag.Title = "AddConcert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/Assets/img/bg-img/tour_back.jpg);">
    <div class="bradcumbContent">
        <h2>Add Concert</h2>
    </div>
</section>

<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    
                    <div class="login-form">
                        @using (Html.BeginForm("AddConcert", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group">
                                <label>Date:</label>                                
                                <p>@Html.EditorFor(m => Model.tourDate, new { htmlAttributes = new { @class = "form-small" } })</p>
                            </div>
                            <div class="form-group">
                                <label>Name:</label>
                                <p>@Html.EditorFor(m => Model.name, new { htmlAttributes = new { @class = "form-small" } })</p>
                            </div>
                            <div class="form-group">
                                <label>Place:</label>
                                <p>@Html.EditorFor(m => Model.place, new { htmlAttributes = new { @class = "form-small" } })</p>
                            </div>
                            <button type="submit" class="btn oneMusic-btn mt-30">Add</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

