@model DetroitHills.Models.Post
@{
    ViewBag.Title = "CreatePost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/Assets/img/bg-img/news_back.jpg);">
    <div class="bradcumbContent">
        <h2>Create New Post</h2>
    </div>
</section>

<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                @using (Html.BeginForm("CreatePost", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="login-content">
                    <h3>English version</h3>
                    <div class="login-form">
                        
                            <div class="form-group">
                                <label>Title:</label>
                                <p>@Html.EditorFor(m => Model.title, new { htmlAttributes = new { @class = "form-small" } })</p>
                            </div>
                            <div class="form-group">
                                <label>Text:</label>
                                <textarea class="form-big" name="text"></textarea>
                            </div>
                            
                                                    
                    </div>
                </div>
                <div class="login-content">
                    <h3>Russian version</h3>
                    <div class="login-form">

                        <div class="form-group">
                            <label>Title:</label>
                            <p>@Html.EditorFor(m => Model.title_lng, new { htmlAttributes = new { @class = "form-small" } })</p>
                        </div>
                        <div class="form-group">
                            <label>Text:</label>
                            <textarea class="form-big" name="text_lng"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Upload image:</label>
                            <input type="file" name="upload" />
                        </div>

                        <button type="submit" class="btn oneMusic-btn mt-30">Create</button>

                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</section>
