@model DetroitHills.Models.Item
@{
    ViewBag.Title = "EditItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/Assets/img/bg-img/shop_back.jpg);">
    <div class="bradcumbContent">
        <h2>Add Item</h2>
    </div>
</section>

<div style="text-align:center">
    @using (Html.BeginForm("EditItem", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
        <div>
            <p style="font:800;  font-size:large">Name:</p>
            @Html.EditorFor(m => Model.name)
        </div>
        <div>
            <p style="font:800; font-size:large">Price in $:</p>
            @Html.EditorFor(m => Model.price)
        </div>
        <div>
            <p style="font:800;  font-size:large">Цена в рублях: </p>
            @Html.EditorFor(m => Model.price_lng)
        </div>

        <p style="font:800; font-size:large">Edit image</p>
            <input type="file" name="upload" />

            <input type="submit" class="oneMusic-btn" value="Save" />
    }
</div>


