@model DetroitHills.ViewModels.CommentsVM

@foreach (var u in Model.commentsList)
{
    <div class="post-text-com">
        <h5>@Html.DisplayFor(m => u.userName):</h5>
        <p> @Html.DisplayFor(m => u.text)</p>
        @Html.DisplayFor(m => u.date)
    </div>
}

   

