
@{
    ViewBag.Title = "Delight";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/Assets/img/bg-img/delight_back.jpg);">
    <div class="bradcumbContent">
        <h2>Delight (2015)</h2>
    </div>
</section>
<section class="album-catagory section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="ablums-text text-center mb-70">
                    <p>@Resources.Resource.Delight</p>                     
                </div>

            </div>
        </div>
    </div>
</section>

<div class="one-music-songs-area mb-70">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                    <div class="song-thumbnail">
                        <img src="~/Assets/img/bg-img/s4.jpg" alt="">
                    </div>
                    <div class="song-play-area">
                        <div class="song-name">
                            <p>01. Joy</p>
                        </div>
                        <audio preload="auto" controls>
                            <source src="~/Assets/audio/Joy.mp3">
                        </audio>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                    <div class="song-thumbnail">
                        <img src="~/Assets/img/bg-img/s5.jpg" alt="">
                    </div>
                    <div class="song-play-area">
                        <div class="song-name">
                            <p>02. State Of Soul</p>
                        </div>
                        <audio preload="auto" controls>
                            <source src="~/Assets/audio/State Of Soul.mp3">
                        </audio>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                    <div class="song-thumbnail">
                        <img src="~/Assets/img/bg-img/s6.jpg" alt="">
                    </div>
                    <div class="song-play-area">
                        <div class="song-name">
                            <p>03. Copacabana</p>
                        </div>
                        <audio preload="auto" controls>
                            <source src="~/Assets/audio/Copacabana.mp3">
                        </audio>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                    <div class="song-thumbnail">
                        <img src="~/Assets/img/bg-img/s7.jpg" alt="">
                    </div>
                    <div class="song-play-area">
                        <div class="song-name">
                            <p>04. Think And Do</p>
                        </div>
                        <audio preload="auto" controls>
                            <source src="~/Assets/audio/Think And Do.mp3">
                        </audio>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                    <div class="song-thumbnail">
                        <img src="~/Assets/img/bg-img/s8.jpg" alt="">
                    </div>
                    <div class="song-play-area">
                        <div class="song-name">
                            <p>05. Part 1</p>
                        </div>
                        <audio preload="auto" controls>
                            <source src="~/Assets/audio/Part 1.mp3">
                        </audio>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                    <div class="song-thumbnail">
                        <img src="~/Assets/img/bg-img/s9.jpg" alt="">
                    </div>
                    <div class="song-play-area">
                        <div class="song-name">
                            <p>06. Look Forward</p>
                        </div>
                        <audio preload="auto" controls>
                            <source src="~/Assets/audio/Look Forward.mp3">
                        </audio>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                    <div class="song-thumbnail">
                        <img src="~/Assets/img/bg-img/s10.jpg" alt="">
                    </div>
                    <div class="song-play-area">
                        <div class="song-name">
                            <p>07. Pioneer Song</p>
                        </div>
                        <audio preload="auto" controls>
                            <source src="~/Assets/audio/Pioneer song.mp3">
                        </audio>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                    <div class="song-thumbnail">
                        <img src="~/Assets/img/bg-img/s11.jpg" alt="">
                    </div>
                    <div class="song-play-area">
                        <div class="song-name">
                            <p>08. Waterproof Dream</p>
                        </div>
                        <audio preload="auto" controls>
                            <source src="~/Assets/audio/Waterproof Dream.mp3">
                        </audio>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                    <div class="song-thumbnail">
                        <img src="~/Assets/img/bg-img/s12.jpg" alt="">
                    </div>
                    <div class="song-play-area">
                        <div class="song-name">
                            <p>09. Honesty</p>
                        </div>
                        <audio preload="auto" controls>
                            <source src="~/Assets/audio/Honesty.mp3">
                        </audio>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                    <div class="song-thumbnail">
                        <img src="~/Assets/img/bg-img/s13.jpg" alt="">
                    </div>
                    <div class="song-play-area">
                        <div class="song-name">
                            <p>10. Go Home</p>
                        </div>
                        <audio preload="auto" controls>
                            <source src="~/Assets/audio/Go Home.mp3">
                        </audio>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

