
@{
    ViewBag.Title = "Detroit Hills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <!-- ##### Hero Area Start ##### -->
<section class="hero-area">
    <div class="hero-slides owl-carousel">
        <!-- Single Hero Slide -->
        <div class="single-hero-slide d-flex align-items-center justify-content-center">
            <!-- Slide Img -->
            <div class="slide-img bg-img" style="background-image: url(../../Assets/img/bg-img/bg-1.jpg);"></div>
            <!-- Slide Content -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slides-content text-center">
                            <h6 data-animation="fadeInUp" data-delay="100ms">Latest album</h6>
                            <h2 data-animation="fadeInUp" data-delay="300ms">Memory <span>Memory</span></h2>
                            <a data-animation="fadeInUp" data-delay="500ms" href="" class="btn oneMusic-btn mt-50">See more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Hero Slide -->
        <div class="single-hero-slide d-flex align-items-center justify-content-center">
            <!-- Slide Img -->
            <div class="slide-img bg-img" style="background-image: url(/Assets/img/bg-img/bg-2.jpg);"></div>
            <!-- Slide Content -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slides-content text-center">
                            <h6 data-animation="fadeInUp" data-delay="100ms">Latest Clip</h6>
                            <h2 data-animation="fadeInUp" data-delay="300ms">Live Brugge <span>Live Brugge</span></h2>
                            <a data-animation="fadeInUp" data-delay="500ms" href="" class="btn oneMusic-btn mt-50">See more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### HeroArea End ##### -->

<section class="latest-albums-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading style-2">
                    <h2>About us</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-9">
                <div class="ablums-text text-center mb-70">
                    <p>Нп мемес бэнд, Леша супер, Захар неоч, Серега вернись в группу я все прощу</p>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non mauris id orci viverra eleifend. Suspendisse potenti. Phasellus ut maximus tortor, sed congue odio. Etiam nec augue sapien. Sed aliquet finibus eleifend. Cras malesuada et massa sit amet condimentum. Etiam consequat massa enim, sit amet convallis lorem auctor id. </p>
                -->
                 </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="albums-slideshow owl-carousel">
                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="~/Assets/img/bg-img/a1.jpg" alt="">
                        <div class="album-info">
                            <a href="#">
                                <h5>Zachar Sabin</h5>
                            </a>
                            <p>Guitar (2011-present)</p>
                        </div>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="~/Assets/img/bg-img/a2.jpg" alt="">
                        <div class="album-info">
                            <a href="#">
                                <h5>Aleksey Moiseenko</h5>
                            </a>
                            <p>Guitar (2011-present)</p>
                        </div>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="~/Assets/img/bg-img/a3.jpg" alt="">
                        <div class="album-info">
                            <a href="#">
                                <h5>Aleksey Zapasnik</h5>
                            </a>
                            <p>Vocals (2018-present)</p>
                        </div>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="~/Assets/img/bg-img/a4.jpg" alt="">
                        <div class="album-info">
                            <a href="#">
                                <h5>Sergey Bobakov</h5>
                            </a>
                            <p>Bass (2018-present)</p>
                        </div>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="~/Assets/img/bg-img/a5.jpg" alt="">
                        <div class="album-info">
                            <a href="#">
                                <h5>Sergey Chernov</h5>
                            </a>
                            <p>Bass (2015-2016)</p>
                        </div>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="~/Assets/img/bg-img/a6.jpg" alt="">
                        <div class="album-info">
                            <a href="#">
                                <h5>Aleksandr Barabanches</h5>
                            </a>
                            <p>Drums (2016-2018)</p>
                        </div>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="~/Assets/img/bg-img/a7.jpg" alt="">
                        <div class="album-info">
                            <a href="#">
                                <h5>Andrey Kaminskiy</h5>
                            </a>
                            <p>Bass (2013-2015)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

