
@{
    ViewBag.Title = "Memory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/Assets/img/bg-img/memory_back.jpg);">
    <div class="bradcumbContent">
        <h2>Memory (2016)</h2>
    </div>
</section>
<section class="album-catagory section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="ablums-text text-center mb-70">
                    <p>Мемори ис зе бест албум</p> 
                    
                </div>

            </div>
        </div>
    </div>
</section>

<!-- ##### Song Area Start ##### -->
<div class="one-music-songs-area mb-70">
    <div class="container">
        <div class="row">

            <!-- Single Song Area -->
            <div class="col-12">
                <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                    <div class="song-thumbnail">
                        <img src="~/Assets/img/bg-img/s1.jpg" alt="">
                    </div>
                    <div class="song-play-area">
                        <div class="song-name">
                            <p>01. The Charge</p>
                        </div>
                        <audio preload="auto" controls>
                            <source src="~/Assets/audio/The Charge.mp3">
                        </audio>
                    </div>
                </div>
            </div>

            <!-- Single Song Area -->
            <div class="col-12">
                <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                    <div class="song-thumbnail">
                        <img src="~/Assets/img/bg-img/s2.jpg" alt="">
                    </div>
                    <div class="song-play-area">
                        <div class="song-name">
                            <p>02. Wow!</p>
                        </div>
                        <audio preload="auto" controls>
                            <source src="~/Assets/audio/Wow.mp3">
                        </audio>
                    </div>
                </div>
            </div>

            <!-- Single Song Area -->
            <div class="col-12">
                <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                    <div class="song-thumbnail">
                        <img src="~/Assets/img/bg-img/s3.jpg" alt="">
                    </div>
                    <div class="song-play-area">
                        <div class="song-name">
                            <p>03. Memory</p>
                        </div>
                        <audio preload="auto" controls>
                            <source src="~/Assets/audio/Memory.mp3">
                        </audio>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
<!-- ##### Song Area End ##### -->

