@model DetroitHills.ViewModels.VideoVM
@{
    ViewBag.Title = "Videos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/Assets/img/bg-img/video_back.jpg);">
    <div class="bradcumbContent">
        <h2>Videos</h2>
    </div>
</section>


<div class="blog-area section-padding-100">
    <div class="container">
        <div class="row">
@foreach (var u in Model.videos)
{
            <div class="col-12">
                <div class="section-heading style-2">
                    <h2>@Html.DisplayFor(m => u.name)</h2>
                </div>
                <div class="featured-trending-video mb-30 wow fadeInUp" data-wow-delay="100ms">
                    <iframe width="560" height="315" src="@Html.DisplayFor(m => u.link)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
}
            
        </div>
    </div>
</div>

