
@{
    ViewBag.Title = "Worldplace";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/Assets/img/bg-img/worldplace_back.jpg);">
    <div class="bradcumbContent">
        <h2>Worldplace (2013)</h2>
    </div>
</section>
<section class="album-catagory section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="ablums-text text-center mb-70">
                    <p>@Resources.Resource.Worldplace</p>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- ##### Song Area Start ##### -->
<div class="one-music-songs-area mb-70">
    <div class="container">
        <div class="row">

            <!-- Single Song Area -->
            <div class="col-12">
                <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                    <div class="song-thumbnail">
                        <img src="~/Assets/img/bg-img/s14.jpg" alt="">
                    </div>
                    <div class="song-play-area">
                        <div class="song-name">
                            <p>01. Falling Upward</p>
                        </div>
                        <audio preload="auto" controls>
                            <source src="~/Assets/audio/Falling Upward.mp3">
                        </audio>
                    </div>
                </div>
            </div>

            <!-- Single Song Area -->
            <div class="col-12">
                <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                    <div class="song-thumbnail">
                        <img src="~/Assets/img/bg-img/s15.jpg" alt="">
                    </div>
                    <div class="song-play-area">
                        <div class="song-name">
                            <p>02. Rustle Of The Morning Stars</p>
                        </div>
                        <audio preload="auto" controls>
                            <source src="~/Assets/audio/Rustle Of The Morning Stars.mp3">
                        </audio>
                    </div>
                </div>
            </div>

            <!-- Single Song Area -->
            <div class="col-12">
                <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                    <div class="song-thumbnail">
                        <img src="~/Assets/img/bg-img/s16.jpg" alt="">
                    </div>
                    <div class="song-play-area">
                        <div class="song-name">
                            <p>03. The OneDayMan</p>
                        </div>
                        <audio preload="auto" controls>
                            <source src="~/Assets/audio/The OneDayMan.mp3">
                        </audio>
                    </div>
                </div>
            </div>

            <!-- Single Song Area -->
            <div class="col-12">
                <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                    <div class="song-thumbnail">
                        <img src="~/Assets/img/bg-img/s17.jpg" alt="">
                    </div>
                    <div class="song-play-area">
                        <div class="song-name">
                            <p>04. Attraction</p>
                        </div>
                        <audio preload="auto" controls>
                            <source src="~/Assets/audio/Attraction.mp3">
                        </audio>
                    </div>
                </div>
            </div>

            <!-- Single Song Area -->
            <div class="col-12">
                <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                    <div class="song-thumbnail">
                        <img src="~/Assets/img/bg-img/s18.jpg" alt="">
                    </div>
                    <div class="song-play-area">
                        <div class="song-name">
                            <p>05. When Parallels Converge</p>
                        </div>
                        <audio preload="auto" controls>
                            <source src="~/Assets/audio/When Parallels Converge.mp3">
                        </audio>
                    </div>
                </div>
            </div>

            <!-- Single Song Area -->
            <div class="col-12">
                <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                    <div class="song-thumbnail">
                        <img src="~/Assets/img/bg-img/s19.jpg" alt="">
                    </div>
                    <div class="song-play-area">
                        <div class="song-name">
                            <p>06. To Advance Together</p>
                        </div>
                        <audio preload="auto" controls>
                            <source src="~/Assets/audio/To Advance Together.mp3">
                        </audio>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- ##### Song Area End ##### -->
